name: Tests

on: [push]

jobs:
  unit:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ['22', '24']

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - name: Install required packages
        run: yarn install --frozen-lockfile

      - name: Lint
        run: yarn lint

      - name: Run tests
        run: yarn test
